{% extends "eZPlatformUIBundle::pjax.html.twig" %}

{% trans_default_domain "section" %}

{% form_theme form _self %}

{% block choice_widget %}

    {{ form_errors(form) }}

    {%- for child in form %}
        {% set sectionInfo = child.vars.label %}
        {% set section = sectionInfo.section %}

        <tr class="ez-selection-table-row">
            <td>
                {{ form_widget(child, {'value': section.id}) }}
                {#{{ form_widget(child) }}#}
            </td>

            <td><a href="{{ path( 'admin_sectionview', {'sectionId': section.id} ) }}">{{ section.name }}</a></td>
            <td><a href="{{ path( 'admin_sectionview', {'sectionId': section.id} ) }}">{{ section.identifier }}</a></td>
            <td class="ez-table-data-id"><a href="{{ path( "admin_sectionview", {"sectionId": section.id} ) }}">{{ section.id }}</a></td>
            <td class="ez-table-data-count">{{ sectionInfo.contentCount }}</td>
            <td>
                <a href="#" class="pure-button ez-button{% if not sectionInfo.canAssign %} pure-button-disabled{% endif %}" data-icon="&#xe619;">{{ 'section.assigned.to_subtree'|trans }}</a>
            </td>
            <td>
                <a href="{{ path('admin_sectionedit', {'sectionId': section.id}) }}" class="pure-button ez-button{% if not sectionInfo.canEdit %} pure-button-disabled{% endif %}" data-icon="&#xe606;">{{ 'section.edit'|trans }}</a>
            </td>
        </tr>
    {% endfor -%}
{% endblock choice_widget  %}

{% block choice_row %}
    {{ form_widget(form) }}
{% endblock choice_row %}


{% block content %}
    <header class="ez-page-header">
        <h1 class="ez-page-header-name" data-icon="&#xe61a;">{{ 'section.list'|trans }}</h1>
    </header>
    <section class="ez-serverside-content">
        <div class="ez-table-data is-flexible">
            {{ form_start(form) }}

                <table class="pure-table pure-table-striped ez-selection-table" data-selection-buttons=".ez-remove-section-button">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'section.name'|trans }}</th>
                            <th>{{ 'section.identifier'|trans }}</th>
                            <th>{{ 'section.id'|trans }}</th>
                            <th>{{ 'section.assigned.content'|trans }}</th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>

                    {# Displaying using overriden blocks at the top of this template #}
                    {{ form_row(form.identifiers) }}

                    </tbody>
                </table>
                <p class="ez-table-data-buttons">
                    {#TODO remove <button class="pure-button ez-button ez-remove-section-button" data-icon="&#xe615;" disabled="disabled">{{ 'section.remove.selected'|trans }}</button>#}

                    {#TODO disabled if can't remove#}
                    {{ form_widget(
                        form.delete,
                        { 'attr':
                            {'class': 'pure-button ez-button ez-remove-section-button', 'data-icon': '&#xe615;'}
                        }
                    )}}

                    <a href="{{ path('admin_sectioncreate') }}" class="pure-button ez-button{% if not canCreate %} pure-button-disabled{% endif %}" data-icon="&#xe616;">{{ 'section.new'|trans }}</a>
                </p>
            {{ form_end(form) }}
        </div>
    </section>

{% endblock %}

{% block title %}{{ 'section.list'|trans }}{% endblock %}
